@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html, body {
  padding: 0;
  margin: 0;
  position: relative;
  
}

body {
  width: 100vw;
  min-height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(110,110,110);
  background: linear-gradient(0deg, rgba(110,110,110,1) 0%, rgba(118,118,118,1) 75%, rgba(148,148,148,1) 100%);
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  padding-bottom: 200px;
}

#discography {
  width: calc(70vw + 6vmin);
  min-width: calc(70vw + 6vh);
  max-width: 95vw;
  margin: 0 auto;
}

#discGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6vmin;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.discGridItem {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  cursor: pointer;
}

.coverart {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 30px #404040;
  border-radius: 6px;
  filter: brightness(100%);
  transition: 0.3s all;
  z-index: 1;
}

.discGridItem:hover .coverart {
  filter: brightness(40%);
}

.name {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40vw;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  font-size: 2.5em;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s all;
}

.discGridItem:hover .name {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  width: 30%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%,-50%);
}

.nav {
  width: 35%;
  display: flex;
  position: absolute;
  left: 2.5vw;
  top: 50px;
  transform: translateY(-50%);
  gap: 2em;
}

.socials {
  width: 35%;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 2.5vw;
  top: 50px;
  transform: translateY(-50%);
}

.socials img {
  width: 36px;
  height: 36px;
  padding: 1em;
}

.bio {
  text-align: center;
  padding: 125px 10vw 50px;
  font-size: 1.7rem;
}

.currentPage {
  border-bottom: 1px solid #000;
}

.footer, .footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .discGridItem {
    flex-grow: 1;
  }
  .title {
    width: 100%;
  }
  .nav {
    width: 100%;
    left: 0;
    top: 125px;
    justify-content: center;
  }
  .socials {
    width: 100%;
    right: 0;
    top: 200px;
    justify-content: center;
  }
  .bio {
    padding-top: 250px;
  }
}
